---
import DiscordIcon from "./DiscordIcon.astro";
import ExternalIcon from "./ExternalIcon.astro";
import GitHubIcon from "./GitHubIcon.astro";
import LinkButton from "./LinkButton.astro";

interface Props {
  name: string;
  icon?: string;
  links: {
    url: string;
    type: "website" | "discord" | "github" | "discord-bot-invite";
    disabled?: string;
  }[];
  description: string;
  iconCircle?: boolean;
}
const { name, icon, links, description, iconCircle } = Astro.props;

const linkConfig = {
  website: {
    Component: LinkButton,
    text: "Website",
    Icon: ExternalIcon,
  },
  discord: {
    Component: LinkButton,
    text: "Discord",
    Icon: DiscordIcon,
  },
  "discord-bot-invite": {
    Component: LinkButton,
    text: "Invite Bot",
    Icon: DiscordIcon,
  },
  github: {
    Component: LinkButton,
    text: "GitHub",
    Icon: GitHubIcon,
  },
};
---

<div
  class="flex h-screen w-screen snap-center items-center justify-center sm:snap-align-none md:h-auto"
>
  <main
    class="m-8 flex flex-col items-center rounded-md bg-[#2a2a2a] p-4 shadow-md md:flex-row md:p-6"
  >
    <img
      loading="lazy"
      class={`${
        iconCircle ? "rounded-full" : "rounded-lg"
      } w-24 h-24 bg-[#3a3a3a]`}
      src={icon}
      alt="avatar"
    />

    <div class="flex flex-col md:ml-5">
      <main class="mb-2 mt-2 text-center md:mb-0 md:mt-0 md:text-left">
        <h3 class="text-2xl font-bold leading-9">{name}</h3>
        <p class="text-[#A6A6A6] md:w-[26rem]">{description}</p>
      </main>

      <ul class="mt-2 flex flex-row justify-center md:justify-normal">
        {
          links.map((link) => {
            const { Component, Icon, text } = linkConfig[link.type];

            if (!Component) {
              return null;
            }

            return (
              <Component
                url={link.url}
                disabled={link.disabled}
                text={link.disabled || text}
                Icon={Icon}
                newTab={!link.disabled}
                noMobile
              />
            );
          })
        }
      </ul>
    </div>
  </main>
</div>
